body{
    background-color: brown;
    width: 60px;
    margin: auto;
}
h1{
    text-align: center;
}
img{
    height: 200px;
    width: auto;
    float: left;
    margin-right: 10px;
}
p{
    margin-top: 40px;
}